@charset "UTF-8";

@import 

    // Complete bootflat assets
    "bootflat", 
    "animate"; 

// FADING ANIMATION VARIABLES

// DIMENSION VARIABLES 
$desktop_w: 70%; // TODO: don't forget to add media query to change this

// NAVBAR
// changing the height
.navbar {
    height: 100px; 
    padding: 25px; 
    background-color: white; 
    border-radius: 0; 

    // CONTAINER
    // changing the container width so it's static
    // center input node
    .container { 
        text-align: center; 

        // full width child node
        // relative position so title can be absolute positioned
        .navbar-header {
            width: 100%; 
            position: relative; 

            // removing left margin
            // absolute position title so input can be centered
            .navbar-brand {
                margin-left: 0; 
                float: none; 
                padding: 0; 
                top: 15px; 
                position: absolute; 
                left: 0; 
            }

            // INPUT / SEARCH FIELD
            .form-search {

                // changing the search border radius
                .search-query {
                    border-radius: 0;
                }

                // positioning the magnifying glass
                .search-icon {
                    left: auto; 
                    padding-left: 10px; 
                }
            }  
        }
    }
}

// ARCHIVE 
#archive {
    margin-top: 150px; 

    .container {
        position: relative; 
        // individual music info containers
        // adjusting row margin so i can center block
        #sidebar {
            position: absolute; 
        }
        .row {

            .blah {
                -webkit-transition: height 1s; 
                -moz-transition: height 1s; 
                -ms-transition: height 1s; 
                -o-transition: height 1s; 

//                transition: height 1s;
//                opacity: 0; 
//                height: 0 !important;
                top: -10000px; 
            }
            // margin: 50px -15px; 

            .block {
                text-align: center; 
                border: 1px solid #ddd; 
                position: relative; 
                overflow: hidden;
                padding: 0;
                margin-bottom: 50px; 
                height: 700px; 
                
                .info {
                    padding: 25px 0;
                }

                .picture {
                    width: 100%; 
                }
            }   
        }
    }
}

// PAGE FOOTER
.site-footer {
    text-align: center;

    h5 {
        font-weight: 100; 
        letter-spacing: 1px; 
    }
}
